@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}




body{
   
    width: 100%;

}

.wrapper{
    width: 100%;
}

nav{

   display: flex;
   justify-content: space-between;
   /* margin-top: 20px; */
   min-height: 70px;
   background-color:#F1F4F1;
   line-height: 70px;
   width: 100%;

   

}

.navItems ul{
  
    display: flex;
   justify-content: space-between;
   gap: 25px;
   margin-right: 30px;
   
}

.list li{
    list-style: none;
    
}

.list li a{
    text-decoration: none;
    color: #305C2A;
    font-size: 200;
    font-weight: 500;
}


nav li a::after{
    content: '';
    width : 0%;
    height:2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.list button{
  
    height: 30px;
    margin-top: 20px;
    width: 70px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #305C2A;
    cursor: pointer;

}

.list button:hover{
    background-color: #2C8A2C;
    color: #F1F4F1;
}



.para{
    margin-left: 30px;
    color: #305C2A;
    font-weight: bold;

}

 .para span{ 
    
     font-weight: 800;
     font-size: larger;
     color:#2C8A2C;

    
}

#section{
   
    background:   linear-gradient(rgba(10, 10, 10, 0.75), rgba(10, 10, 10, 0.75)),
  url("images/pic5.jpg");
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-position: center;
    color: white;
    margin-bottom: 40px;
   
    
}

#section h2{

   
    padding-left: 100px;
    padding-top: 120px;
    color:  white;
    font-weight: 800;
    
}
#title span{
    color: #2C8A2C;
    font-weight: bolder;
}

#section p{

     padding-left: 150px;
    padding-top: 5px;
    color:white;
 


}



#btn{
    
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    min-height: 30px;
    line-height: 30px;
    gap: 8px;
    margin-top: 50px;
    margin-left: 100px;
    border: none;
    padding: 7px 7px;
    border-radius: 20px;
    background-color: #305C2A;
    color: white;
    font-weight: 700;
    cursor: pointer;

}


#btn .material-icons{
    line-height: 30px;

}
#btn:hover{
    background-color: #F1F4F1;
    color: #305C2A;
}



.section2{
     width: 90%;
    height: 80vh;
 
    margin: 5px auto;
    display: flex;
    
    justify-content: center;
    align-items: center;
      background: rgba(255, 255, 255, 0.027); 
      backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
     border: none;
     border-radius: 30px;
     
} 


.car{
    margin-top: 20px;
    display: flex;
    
    gap: 10px;
  
  
}


.title1{
    margin-bottom: 20px;
    min-height: 55px;
    line-height: 55px;
    width: 50%;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}
.title1 h2{


   text-align: center;
    color:#2C8A2C;
    font-weight: bold;
}

.tit span{
    color:#305C2A;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 25px;
}




.img1 {
    display: flex;            
    justify-content: center;  
    align-items: center;      
    height: 400px;  
    transition: transform 0.3s ease;          
}
.img1:hover{
    transform: translateY(-5px);
}

.img1 img{
    width: 200px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
}


.button1{
   
   display: flex;          
    justify-content: center;  
    align-items: center;      
   

}

.button1 #btn1
{   margin-left: 10px;
    min-height: 8px;
    line-height: 8px;
    border: none;
    border-radius: 10px;
    background-color: #305C2A;
    color: white;
    cursor: pointer;
}

.button1 #btn1:hover{
    background-color: #F1F4F1;
    color: #305C2A;
}

.button2 {
    display: flex;          
    justify-content: center;  
    align-items: center;
}


.button2 #btn2{
   margin-right: 10px;
    min-height: 8px;
    line-height: 8px;
    border: none;
    border-radius: 10px;
    background-color: #305C2A;
    color: white;
    cursor: pointer;
}

.button2 #btn2:hover{
    background-color: #F1F4F1;
    color:#305C2A;
}

#img01{
    z-index: 5;
     transform: scale(1.1); 
}


.section3{

    margin: 5px auto;
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.food{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.food1{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.food{
    
    width: 100%;
    height: 100%;
}
.food1{

   width: 230px;
   height: 270px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #F1F4F1;
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
   transition: transform 0.3s ease;
    
}

.info{

    width: 200px;
    height: 250px;
    background:linear-gradient(rgba(10, 10, 10, 0.75), rgba(10, 10, 10, 0.75)),url("images/pic10.jpg");
    text-align: center;
    color:white;
    background-color: #2C8A2C;
    margin-top: 10px;
    border-radius: 10px;

   
}

#id1{
   
    width: 100px;
    height: 30px;
    margin-top: 200px;  
    background-color: #305C2A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    font-weight: bold;

}

#id01{

    width: 100px;
    height: 30px;
    margin-top: 10px ;
    margin-bottom: 10px;   
    background-color: #305C2A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    font-weight: bold;
}


#id1:hover{

    background-color:#2C8A2C;
    color:  #F1F4F1;
}

#id01:hover{

    background-color:#2C8A2C;
    color:  #F1F4F1;
}


.info h3,p{

    margin: auto;
}



.food2{

   width: 230px;
   height: 270px;
   background-color: #F1F4F1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
   transition: transform 0.3s ease;
}
.food2:hover{
    transform: translateY(-5px);
}
.food3:hover{
    transform: translateY(-5px);
}


.food1:hover{
    transform: translateY(-5px);
}
.info2{

    width: 200px;
    height: 250px;
    background:linear-gradient(rgba(10, 10, 10, 0.75), rgba(10, 10, 10, 0.75)),url("images/pic10.jpg");
    text-align: center;
    color:white;
    background-color: #2C8A2C;
    margin-top: 10px;
    border-radius: 10px;

}

#id2{
   
    width: 100px;
    height: 30px;
    margin-top: 200px;  
    background-color: #305C2A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    font-weight: bold;

}

#id02{

    width: 100px;
    height: 30px;
    margin-top: 10px ;
    margin-bottom: 10px;   
    background-color: #305C2A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    font-weight: bold;

}


#id2:hover{
    background-color:#2C8A2C;
    color:  #F1F4F1;
    font-weight: bold;
   
}

#id02:hover{
    background-color:#2C8A2C;
    color:  #F1F4F1;
    font-weight: bold;
   
}
    


.info2 h3,p{

    margin: auto;
}





.food3{
   width: 230px;
   height: 270px;
   background-color: #F1F4F1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
   transition: transform 0.3s ease;

}

.info3{
    width: 200px;
    height: 250px;
    background:linear-gradient(rgba(10, 10, 10, 0.75), rgba(10, 10, 10, 0.75)),url("images/pic11.jpg");
    text-align: center;
    color:white;
    background-color: #2C8A2C;
    margin-top: 10px;
    border-radius: 10px;
}

#id3{
   
    width: 100px;
    height: 30px;
    margin-top: 200px;  
    background-color: #305C2A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
  font-weight: bold;

}

#id03{

    width: 100px;
    height: 30px;
    margin-top: 10px ;
    margin-bottom: 10px;   
    background-color: #305C2A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    font-weight: bold;
}


#id3:hover{

    background-color:#2C8A2C;
    color: #fff;
  
}

#id03:hover{

    background-color:#2C8A2C;
    color: #fff;
  

}



.info2 h3,p{

    margin: auto;


}

.info h3 {
    margin-top: 80px;
}

.info p{
    margin-top: 5px;
}

.info2 h3 {
    margin-top: 80px;
}

.info2 p{
    margin-top: 5px;
}

.info3 h3 {
    margin-top: 80px;
}

.info3 p{
    margin-top: 5px;
}






.hidden{
    display: none;
}


.title01{
    text-align: center;
    margin-top: 70px;
    color: #305C2A;
     font-weight: bolder;
     font-size: 20px;

}
.title001 span{

    color: #2C8A2C;
    font-size: 25px;
    font-weight: bold;
}


.section4{
     margin: 20px auto;
    width: 90%;
    height: fit-content;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* background-color: #2C8A2C; */
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #305C2A;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #F1F4F1;
    
}

hr{
    margin-top: 40px;
   margin-left: 15px;
   margin-right: 15px;
   background-color: #305C2A;
}

.john{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
    width: 80vw;
    height: 50vh;
    background-color: #F1F4F1;
    border: 1px solid #305C2A;
    border-radius: 10px;
    padding: 0;
   
}
.image_title{
    display: flex;
    gap: 8px;

}
.image img{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;

}
.comment_title h3{
 /* margin-top: 80px;
 margin-left: 52px; */
 margin-top: 80px;
 text-align: center;
 color: #305C2A;
 font-size: 25px;
}
.comb{
    display: flex;
    justify-content: space-between;
}


.john input{
    margin-top: 65px;
    margin-left: 12px;
    margin-right: 12px;
    width: 78vw;
    height: 40px;
    border: 1px solid #305C2A;
    border-radius: 10px;
    padding: 5px 5px;
    
}
.name{
    margin-top: 10px;
    font-weight: lighter;
    font-size: small;

}

.para3 p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.icon{
    margin-top: 10px;
    margin-right: 10px;
}


footer{
    margin-top: 70px;
    width: 100%;
    height: 300px;
    background-color: #305C2A;
    color: #F1F4F1;
   
    
}

.line1{
    padding-top: 50px;
    text-align: center;
}


.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.div4{
    margin-top: 50px;
}















